<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />

    <title>샘플 - 아코디언</title>
        <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />
    <link rel="stylesheet" type="text/css" href="list.css" />

    <script src="include.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>

    <script>
      hljs.highlightAll();
    </script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section>
            <div class="page-title">
              <h2 class="title">아코디언</h2>
              <p class="title-desc">SK 렌터카의 새로운 소식과 정보들을 한곳에서 확인할 수 있어요.</p>
            </div>
          </section>
          <section>
            <div class="faq-wrap">
              <ul>
                <!-- qna 1set-->
                <li>
                  <div class="faq-box active">
                    <div class="q-box">
                      <p><span class="category">[다이렉트]</span><span class="subject">본인확인은 왜 해야하나요? - 개별움직임</span></p>
                    </div>
                    <div class="a-box">
                      <p>SK렌터카 다이렉트는 본인확인과 신용심사를 통해 고객님에게 맞는 정확한 견적과 렌탈료를 제공합니다.</p>
                      <p>타사와 달리 첫 화면에 렌탈료가 노출되지 않는 건 고객님께 정확한 렌탈료를 빠르게 제공하기 위한 목적입니다.</p>
                      <p>또한 금융사와 달리 신용조회를 반복하여도 신용등급에는 영향을 미치지 않으니 걱정하지 마세요.</p>
                    </div>
                  </div>
                </li>
                <!-- //qna 1set-->
                <li>
                  <div class="faq-box">
                    <div class="q-box">
                      <p><span class="category">[다이렉트]</span><span class="subject">본인확인은 왜 해야하나요?</span></p>
                    </div>
                    <div class="a-box">
                      <p>SK렌터카 다이렉트는 본인확인과 신용심사를 통해 고객님에게 맞는 정확한 견적과 렌탈료를 제공합니다.</p>
                      <p>타사와 달리 첫 화면에 렌탈료가 노출되지 않는 건 고객님께 정확한 렌탈료를 빠르게 제공하기 위한 목적입니다.</p>
                      <p>또한 금융사와 달리 신용조회를 반복하여도 신용등급에는 영향을 미치지 않으니 걱정하지 마세요.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <pre class="theme-codepen-embed">
              <code class="language-html">&#x3C;div class=&#x22;faq-wrap&#x22;&#x3E;
  &#x3C;ul&#x3E;
    &#x3C;!-- qna 1set--&#x3E;
    &#x3C;li&#x3E;
      &#x3C;div class=&#x22;faq-box&#x22;&#x3E;
        &#x3C;div class=&#x22;q-box&#x22;&#x3E;
          &#x3C;p&#x3E;&#x3C;span class=&#x22;category&#x22;&#x3E;[&#xB2E4;&#xC774;&#xB809;&#xD2B8;]&#x3C;/span&#x3E;&#x3C;span class=&#x22;subject&#x22;&#x3E;&#xBCF8;&#xC778;&#xD655;&#xC778;&#xC740; &#xC65C; &#xD574;&#xC57C;&#xD558;&#xB098;&#xC694;? - &#xAC1C;&#xBCC4;&#xC6C0;&#xC9C1;&#xC784;&#x3C;/span&#x3E;&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;a-box&#x22;&#x3E;
          &#x3C;p&#x3E;SK&#xB80C;&#xD130;&#xCE74; &#xB2E4;&#xC774;&#xB809;&#xD2B8;&#xB294; &#xBCF8;&#xC778;&#xD655;&#xC778;&#xACFC; &#xC2E0;&#xC6A9;&#xC2EC;&#xC0AC;&#xB97C; &#xD1B5;&#xD574; &#xACE0;&#xAC1D;&#xB2D8;&#xC5D0;&#xAC8C; &#xB9DE;&#xB294; &#xC815;&#xD655;&#xD55C; &#xACAC;&#xC801;&#xACFC; &#xB80C;&#xD0C8;&#xB8CC;&#xB97C; &#xC81C;&#xACF5;&#xD569;&#xB2C8;&#xB2E4;.&#x3C;/p&#x3E;
          &#x3C;p&#x3E;&#xD0C0;&#xC0AC;&#xC640; &#xB2EC;&#xB9AC; &#xCCAB; &#xD654;&#xBA74;&#xC5D0; &#xB80C;&#xD0C8;&#xB8CC;&#xAC00; &#xB178;&#xCD9C;&#xB418;&#xC9C0; &#xC54A;&#xB294; &#xAC74; &#xACE0;&#xAC1D;&#xB2D8;&#xAED8; &#xC815;&#xD655;&#xD55C; &#xB80C;&#xD0C8;&#xB8CC;&#xB97C; &#xBE60;&#xB974;&#xAC8C; &#xC81C;&#xACF5;&#xD558;&#xAE30; &#xC704;&#xD55C; &#xBAA9;&#xC801;&#xC785;&#xB2C8;&#xB2E4;.&#x3C;/p&#x3E;
          &#x3C;p&#x3E;&#xB610;&#xD55C; &#xAE08;&#xC735;&#xC0AC;&#xC640; &#xB2EC;&#xB9AC; &#xC2E0;&#xC6A9;&#xC870;&#xD68C;&#xB97C; &#xBC18;&#xBCF5;&#xD558;&#xC5EC;&#xB3C4; &#xC2E0;&#xC6A9;&#xB4F1;&#xAE09;&#xC5D0;&#xB294; &#xC601;&#xD5A5;&#xC744; &#xBBF8;&#xCE58;&#xC9C0; &#xC54A;&#xC73C;&#xB2C8; &#xAC71;&#xC815;&#xD558;&#xC9C0; &#xB9C8;&#xC138;&#xC694;.&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;
    &#x3C;!-- //qna 1set--&#x3E;
    &#x3C;li&#x3E;
      &#x3C;div class=&#x22;faq-box&#x22;&#x3E;
        &#x3C;div class=&#x22;q-box&#x22;&#x3E;
          &#x3C;p&#x3E;&#x3C;span class=&#x22;category&#x22;&#x3E;[&#xB2E4;&#xC774;&#xB809;&#xD2B8;]&#x3C;/span&#x3E;&#x3C;span class=&#x22;subject&#x22;&#x3E;&#xBCF8;&#xC778;&#xD655;&#xC778;&#xC740; &#xC65C; &#xD574;&#xC57C;&#xD558;&#xB098;&#xC694;?&#x3C;/span&#x3E;&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;a-box&#x22;&#x3E;
          &#x3C;p&#x3E;SK&#xB80C;&#xD130;&#xCE74; &#xB2E4;&#xC774;&#xB809;&#xD2B8;&#xB294; &#xBCF8;&#xC778;&#xD655;&#xC778;&#xACFC; &#xC2E0;&#xC6A9;&#xC2EC;&#xC0AC;&#xB97C; &#xD1B5;&#xD574; &#xACE0;&#xAC1D;&#xB2D8;&#xC5D0;&#xAC8C; &#xB9DE;&#xB294; &#xC815;&#xD655;&#xD55C; &#xACAC;&#xC801;&#xACFC; &#xB80C;&#xD0C8;&#xB8CC;&#xB97C; &#xC81C;&#xACF5;&#xD569;&#xB2C8;&#xB2E4;.&#x3C;/p&#x3E;
          &#x3C;p&#x3E;&#xD0C0;&#xC0AC;&#xC640; &#xB2EC;&#xB9AC; &#xCCAB; &#xD654;&#xBA74;&#xC5D0; &#xB80C;&#xD0C8;&#xB8CC;&#xAC00; &#xB178;&#xCD9C;&#xB418;&#xC9C0; &#xC54A;&#xB294; &#xAC74; &#xACE0;&#xAC1D;&#xB2D8;&#xAED8; &#xC815;&#xD655;&#xD55C; &#xB80C;&#xD0C8;&#xB8CC;&#xB97C; &#xBE60;&#xB974;&#xAC8C; &#xC81C;&#xACF5;&#xD558;&#xAE30; &#xC704;&#xD55C; &#xBAA9;&#xC801;&#xC785;&#xB2C8;&#xB2E4;.&#x3C;/p&#x3E;
          &#x3C;p&#x3E;&#xB610;&#xD55C; &#xAE08;&#xC735;&#xC0AC;&#xC640; &#xB2EC;&#xB9AC; &#xC2E0;&#xC6A9;&#xC870;&#xD68C;&#xB97C; &#xBC18;&#xBCF5;&#xD558;&#xC5EC;&#xB3C4; &#xC2E0;&#xC6A9;&#xB4F1;&#xAE09;&#xC5D0;&#xB294; &#xC601;&#xD5A5;&#xC744; &#xBBF8;&#xCE58;&#xC9C0; &#xC54A;&#xC73C;&#xB2C8; &#xAC71;&#xC815;&#xD558;&#xC9C0; &#xB9C8;&#xC138;&#xC694;.&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;
  &#x3C;/ul&#x3E;
&#x3C;/div&#x3E;</code>
            </pre>
          </section>

          <section>
            <div class="accordion qna">
              <!-- 아코디언 1세트 -->
              <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                  <span class="category">[다이렉트]</span>
                  <span class="accordion-title">즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. - 연동움직임</span></span>
                </button>
                <div class="accordion-content">
                  <p>
                    즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트
                    개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹
                    생활을 위한 사이트 개편이 시작 됩니다.
                  </p>
                </div>
              </div>
              <!-- //아코디언 1세트 -->

              <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                  <span class="category">[다이렉트]</span>
                  <span class="accordion-title">즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다.</span></span>
                </button>
                <div class="accordion-content">
                  <p>
                    즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트
                    개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹
                    생활을 위한 사이트 개편이 시작 됩니다.즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작
                    됩니다. 
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                  <span class="category">[다이렉트]</span>
                  <span class="accordion-title">즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다.</span></span>
                </button>
                <div class="accordion-content">
                  <p>
                    즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트
                    개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹 생활을 위한 사이트 개편이 시작 됩니다. 즐거운 웹
                    생활을 위한 사이트 개편이 시작 됩니다.
                  </p>
                </div>
              </div>
              
            </div>

            <pre class="theme-codepen-embed">
              <code class="language-html">&#x3C;div class=&#x22;accordion qna&#x22;&#x3E;
  &#x3C;!-- &#xC544;&#xCF54;&#xB514;&#xC5B8; 1&#xC138;&#xD2B8; --&#x3E;
  &#x3C;div class=&#x22;accordion-item&#x22;&#x3E;
    &#x3C;button id=&#x22;accordion-button-1&#x22; aria-expanded=&#x22;false&#x22;&#x3E;
      &#x3C;span class=&#x22;category&#x22;&#x3E;[&#xB2E4;&#xC774;&#xB809;&#xD2B8;]&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;accordion-title&#x22;&#x3E;&#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. - &#xC5F0;&#xB3D9;&#xC6C0;&#xC9C1;&#xC784;&#x3C;/span&#x3E;&#x3C;/span&#x3E;
    &#x3C;/button&#x3E;
    &#x3C;div class=&#x22;accordion-content&#x22;&#x3E;
      &#x3C;p&#x3E;
        &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8;
        &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9;
        &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;.
      &#x3C;/p&#x3E;
    &#x3C;/div&#x3E;
  &#x3C;/div&#x3E;
  &#x3C;!-- //&#xC544;&#xCF54;&#xB514;&#xC5B8; 1&#xC138;&#xD2B8; --&#x3E;

  &#x3C;div class=&#x22;accordion-item&#x22;&#x3E;
    &#x3C;button id=&#x22;accordion-button-1&#x22; aria-expanded=&#x22;false&#x22;&#x3E;
      &#x3C;span class=&#x22;category&#x22;&#x3E;[&#xB2E4;&#xC774;&#xB809;&#xD2B8;]&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;accordion-title&#x22;&#x3E;&#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;.&#x3C;/span&#x3E;&#x3C;/span&#x3E;
    &#x3C;/button&#x3E;
    &#x3C;div class=&#x22;accordion-content&#x22;&#x3E;
      &#x3C;p&#x3E;
        &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8;
        &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9;
        &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;.&#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791;
        &#xB429;&#xB2C8;&#xB2E4;. 
      &#x3C;/p&#x3E;
    &#x3C;/div&#x3E;
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;accordion-item&#x22;&#x3E;
    &#x3C;button id=&#x22;accordion-button-1&#x22; aria-expanded=&#x22;false&#x22;&#x3E;
      &#x3C;span class=&#x22;category&#x22;&#x3E;[&#xB2E4;&#xC774;&#xB809;&#xD2B8;]&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;accordion-title&#x22;&#x3E;&#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;.&#x3C;/span&#x3E;&#x3C;/span&#x3E;
    &#x3C;/button&#x3E;
    &#x3C;div class=&#x22;accordion-content&#x22;&#x3E;
      &#x3C;p&#x3E;
        &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8;
        &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9; &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;. &#xC990;&#xAC70;&#xC6B4; &#xC6F9;
        &#xC0DD;&#xD65C;&#xC744; &#xC704;&#xD55C; &#xC0AC;&#xC774;&#xD2B8; &#xAC1C;&#xD3B8;&#xC774; &#xC2DC;&#xC791; &#xB429;&#xB2C8;&#xB2E4;.
      &#x3C;/p&#x3E;
    &#x3C;/div&#x3E;
  &#x3C;/div&#x3E;
  
&#x3C;/div&#x3E;</code>
            </pre>
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>
  <script>
    includeHTML();
    //아코디언
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
      const itemToggle = this.getAttribute("aria-expanded");

      for (i = 0; i < items.length; i++) {
        items[i].setAttribute("aria-expanded", "false");
      }

      if (itemToggle == "false") {
        this.setAttribute("aria-expanded", "true");
      }
    }

    items.forEach((item) => item.addEventListener("click", toggleAccordion));
  </script>
</html>
