<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />

    <title>아코디언</title>
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />
    <link rel="stylesheet" type="text/css" href="list.css" />

    <script src="include.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>

    <script>
      hljs.highlightAll();
    </script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section>
            <div class="page-title">
              <h2 class="title">밷지</h2>
              <p class="title-desc">SK 렌터카의 새로운 소식과 정보들을 한곳에서 확인할 수 있어요.</p>
            </div>
          </section>

          <section>
            <p class="clause">badge</p>
            <span class="badge">공지</span>

            <pre class="theme-codepen-embed">
              <code class="language-html">&#x3C;span class=&#x22;badge&#x22;&#x3E;&#xACF5;&#xC9C0;&#x3C;/span&#x3E;</code>
            </pre>
          </section>

          <section>
            <p><span class="badge">label</span>badge</p>
            <p><span class="badge bg-gray">label</span> badge bg-gray</p>
            <p>badge <span class="badge">label</span></p>
            <p>badge bg-gray<span class="badge bg-gray">label</span></p>

            <pre class="theme-codepen-embed">
              <code class="language-html">&#x3C;p&#x3E;&#x3C;span class=&#x22;badge&#x22;&#x3E;label&#x3C;/span&#x3E;badge&#x3C;/p&#x3E;
&#x3C;p&#x3E;&#x3C;span class=&#x22;badge bg-gray&#x22;&#x3E;label&#x3C;/span&#x3E; badge bg-gray&#x3C;/p&#x3E;
&#x3C;p&#x3E;badge &#x3C;span class=&#x22;badge&#x22;&#x3E;label&#x3C;/span&#x3E;&#x3C;/p&#x3E;
&#x3C;p&#x3E;badge bg-gray&#x3C;span class=&#x22;badge bg-gray&#x22;&#x3E;label&#x3C;/span&#x3E;&#x3C;/p&#x3E;</code>
            </pre>
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
