<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />

    <title>샘플 리스트</title>
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />
    <link rel="stylesheet" type="text/css" href="list.css" />

    <script src="include.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>

    <script>
      hljs.highlightAll();
    </script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <!-- <div class="header_wrap" w3-include-html="./include/header.html"></div> -->
      <!-- headerWrap -->

      <main class="pt40">
        <article>
          <section class="ia_list">
            <table>
              <colgroup>
                <col width="110px" />
                <col width="300px" />
                <col width="90px" />
                <col width="90px" />
                <col width="auto" />
              </colgroup>

              <thead>
                <tr>
                  <th>구분</th>
                  <th>요소명</th>
                  <th>완료일</th>
                  <th>수정일</th>
                  <th>비고</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="layout.html" target="_blank">Layout</a></td>
                  <td>23.10.06</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>폼</td>
                  <td class="cmd"><a href="input.html" target="_blank">input</a></td>
                  <td>23.10.06</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">
                    <a href="check-radio.html" target="_blank">check radio</a>
                  </td>
                  <td>23.08.29</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="search.html" target="_blank">search</a></td>
                  <td>23.10.10</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="select.html" target="_blank">select</a></td>
                  <td>23.09.26</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="textarea.html" target="_blank">textarea</a></td>
                  <td>23.08.29</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>components</td>
                  <td class="cmd">
                    <a href="accordion.html" target="_blank">accordion</a>
                  </td>
                  <td>23.08.29</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">
                    <a href="badge.html" target="_blank">badge</a>
                  </td>
                  <td>23.09.26</td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td class="cmd">
                    <a href="button.html" target="_blank">button</a>
                  </td>
                  <td>23.08.29</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">
                    <a href="cards.html" target="_blank">cards</a>
                  </td>
                  <td>23.08.29</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="carousel.html" target="_blank">carousel</a></td>
                  <td>23.10.10</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="collapse.html" target="_blank">collapse</a></td>
                  <td>23.10.10</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="comments.html" target="_blank">comments</a></td>
                  <td>23.10.10</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">
                    <a href="dropdowns.html" target="_blank">dropdowns</a>
                  </td>
                  <td>23.09.22</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">
                    <a href="pagination.html" target="_blank">pagination</a>
                  </td>
                  <td>23.09.05</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">
                    <a href="popup.html" target="_blank">popup</a>
                  </td>
                  <td>23.10.03</td>
                  <td>23.10.12</td>
                  <td>
                    23.10.12 - 팝업 유형 추가(메인팝업, 얼럿)<br />
                    23.10.13 - 팝업 컨텐츠 스크롤 스타일 추가, 팝업하단 버튼영역 추가
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="progress.html" target="_blank">progress</a></td>
                  <td>23.10.10</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="tab.html" target="_blank">tab</a></td>
                  <td>23.10.10</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd"><a href="table.html" target="_blank">table</a></td>
                  <td>23.10.10</td>
                  <td>23.10.11</td>
                  <td>10.11 - 입출력 테이블 유형 추가</td>
                </tr>
                <tr>
                  <td>content</td>
                  <td class="cmd"><a href="title.html" target="_blank">title</a></td>
                  <td>23.10.12</td>
                  <td></td>
                  <td>23.10.13 - 타이틀 스타일 contents.scss로 이동</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a href=".html" target="_blank"></a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </section>
        </article>

        <!-- quick -->
        <!-- <article class="quick" w3-include-html="./include/quick.html"></article> -->
        <!-- //quick -->
      </main>

      <!-- footer -->
      <!-- <footer w3-include-html="./include/footer.html"></footer> -->
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
